<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Tareas</title>
</head>
<body>
<h1>Listado de tareas</h1>
<p><a th:href="@{/tarea/add}">Añadir Tarea</a></p>
<div th:if="${tareas.size} > 0">
    <table>
        <tr>
            <th>Codigo</th>
            <th>Usuario</th>
            <th>Descripción</th>
            <th>Vencimiento</th>
            <th>Realizada</th>
            <th>Categoria</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="item : ${tareas}">
            <td th:text="${item.codigo}"></td>
            <td th:text="${item.usuario}"></td>
            <td th:text="${item.descripcion}"></td>
            <td th:text="${#temporals.format(item.vencimiento, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${item.isRealizada} ? 'Sí' : 'No'"></td>
            <td th:text="${item.categoria.nombre}"></td>
            <td><a th:href="@{/tarea-del(codTarea=${item.getCodigo})}">Borrar</a></td>
            <td><a th:href="@{/tarea(codTarea=${item.getCodigo})}">Detalle</a></td>
        </tr>
    </table>
</div>
<div th:unless="${tareas.size} > 0">
    <p>No existen Tareas</p>
</div>
<p><a href="/">Volver al menu principal</a></p>
</body>
</html>