<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<title>Gestor de Tareas</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body>
<h1>Detalle Tarea <span th:text="${tarea.codigo}"></span></h1>
<ul>
    <li>
        <strong>Usuario</strong>:
        <span th:text="${tarea.usuario}"></span>
    </li>
    <li>
        <strong>Descripción</strong>:
        <span th:text="${tarea.descripcion}"></span>
    </li>
    <li>
        <strong>Vencimiento</strong>:
        <span th:text="${#temporals.format(tarea.vencimiento, 'dd-MM-yyyy HH:mm')}"></span>
    </li>
    <li>
        <strong>Realizado</strong>:
        <span th:text="(${tarea.realizada})?'Si':'No'"></span>
    </li>
    <li>
        <strong>Prioridad</strong>:
        <span th:text="${tarea.prioridad}"></span>
    </li>
    <li>
        <strong>Categoria</strong>:
        <span th:text="${tarea.categoria.nombre}"></span>
    </li>
    <p th:text="|Consulta realizada por ${usuarioLogueado}|"></p>
    <p><a href='/tareas'>Volver al listado</a></p>
</ul>
</body>
</html>
