<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestor Tareas</title>
</head>
<body>
<h1>Añadir Nueva Tarea</h1>
<form action="/tarea/add" method="post">
    <label>Nombre: <input name="user" type="text" required></label><br>
    <label>Descripción: <input name="description" type="text" required></label><br>
    <label> Prioridad:
    <select name="priority" required>
        <option value="alta">ALTA</option>
        <option value="media">MEDIA</option>
        <option value="baja">BAJA</option>
    </select></label><br>
    <label>realizada:<input name="realizada" type="checkbox" value="true"></label><br>
    <label>Fecha vencimiento: <input name="expiration_date" type="date" required></label><br>
    <label>Hora vencimiento: <input name="expiration_time" type="time" required></label><br>
    <label>Categoria:
    <select name="categoria_id" required>
        <option th:each="item : ${categorias}" th:value="${item.id}" th:text="${item.nombre}"></option>
    </select></label><br>
    <input type="submit" value="añadir" required><br>
</form>
<p><a href="/">Volver al menu principal</a></p>
</body>
</html>